@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>   Nosso compromisso com a privacidade </p>

<p>    Nós assumimos a responsabilidade de proteger as informações pessoais a nos fornecidas com integridade.  Esta declaração explica como fazemos isso, define o que fazemos com as informações pessoais que mantemos e explica os seus direitos de privacidade (se aplicável).</p>


<address>
    Nos contate: <a href="artio3dvfx@gmail.com"> E-mail </a>
  <p> Nos visite: <a href="https://www.artstation.com/artio3d"> Site </a> </p>

</address>